@include debug;
header {
    height: $header-height;
}

header {
    padding: 0 column-gutter();
    nav,
    .logo {
        @include vert-centerer;
    }
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
    nav .nav-items {
        @include clearfix;
        height: 40px;
    }
    nav .nav-items li {
        @include vert-centerer;
        float: left;
        text-align: center;
        width: 80px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

main {
    .hero {
        height: $hero-height;
    }
    .about {
        height: $about-height;
    }
    .team {
        height: $team-height;
    }
    .map {
        height: $map-height;
    }
}

footer {
    height: $footer-height;
}