@import '~reset-scss';
@import '~juice';
@import '~jeet/jeet.scss';
* {
    box-sizing: border-box;
}

.container,
.container-inner {
    @include center;
    @include clearfix;
}

.container-inner {
    height: 100%;
}

@import 'variables';
@import 'settings';
@import 'layouts';
@import 'typo';